.code-wrapper,
.code-control {
  display none !important
}

/* overwrite vuetify css */
.theme--light.v-application {
  background: white;
}

.v-pagination__navigation,
.v-pagination__item {
  outline: none;
}