<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }} | Lynch">
  {{{ userHeadTags }}}
  {{{ pageMeta }}}
  {{{ renderResourceHints() }}}
  {{{ renderStyles() }}}
</head>

<body>
  <!--vue-ssr-outlet-->
  {{{ renderScripts() }}}
</body>

<script>
  document.addEventListener('touchmove', function (event) {
    if (event.scale !== 1) {
      event.scale = 1;
      event.preventDefault();
    }
  }, false);

  var lastTouchEnd = 0;
  document.addEventListener('touchend', function (event) {
    var now = (new Date()).getTime();
    if (now - lastTouchEnd <= 300) {
      event.preventDefault();
    }
    lastTouchEnd = now;
  }, false);
</script>

</html>